.container{
    max-width: 1000px;
    margin: 30px auto;
}

body {
    background-color: white;
    padding: 0px;
    margin: 0px;
    font: 14px Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #484848
}

.filters h4{
    font-weight: normal;
}
